html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box {
  width: 50px;
  height: 50px;
}

.red {
  background-color: red;
}
.blue {
  background-color: blue;
}

.stagger-wrap {
  display: flex;
  gap: 2rem;
}

button {
  outline: none;
  border: none;
  background-color: dodgerblue;
  padding: 0.75rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
}

/* Creative Process SVG */

/* .st0 {
  fill: '#FFF7D9';
}
.st1 {
  fill: #ffc400;
}
.st2 {
  fill: #ff2f00;
}
.st3 {
  fill: #2228b3;
}
.st4 {
  fill: #009245;
}
.st5 {
  fill: #45aace;
}
.st6 {
  fill: #e02828;
}
.st7 {
  fill: #ff2e2e;
}
.st8 {
  fill: #d61e1e;
}
.st9 {
  fill: url(#SVGID_1_);
}
.st10 {
  fill: #0d0b30;
}
.st11 {
  fill: #ffffff;
}
.st12 {
  fill: #d6d6d6;
}
.st13 {
  fill: #cccccc;
}
.st14 {
  fill: #f0f0f0;
}
.st15 {
  fill: #494ed1;
}
.st16 {
  fill: #fab594;
}
.st17 {
  fill: #1fddff;
}
.st18 {
  fill: #0aabe0;
}
.st19 {
  fill: #e61e64;
}
.st20 {
  fill: #a8023d;
}
.st21 {
  fill: url(#SVGID_2_);
} */

/* Creative Process End */

/* Car Scrub and Pin */

.st0 {
  filter: url(#Filter_1);
}
.st1 {
  fill: url(#SVGID_1_);
}
.st2 {
  fill: url(#SVGID_2_);
}
.st3 {
  fill: #cc3300;
}
.st4 {
  fill: #181818;
}
.st5 {
  fill: #2b2b2d;
}
.st6 {
  fill: url(#SVGID_3_);
}
.st7 {
  fill: url(#SVGID_4_);
}
.st8 {
  fill: url(#SVGID_5_);
}
.st9 {
  fill: url(#SVGID_6_);
}
.st10 {
  fill: url(#SVGID_7_);
}
.st11 {
  fill: none;
  stroke: #ff0000;
  stroke-miterlimit: 3;
  stroke-opacity: 0.8;
}
.st12 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 3;
}
.st13 {
  fill: none;
  stroke: #000000;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 3;
}
.st14 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 3;
  stroke-opacity: 0.502;
}
.st15 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 3;
  stroke-opacity: 0.2;
}
.st16 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 3;
  stroke-opacity: 0.302;
}
.st17 {
  fill: url(#SVGID_8_);
}
.st18 {
  fill: #cccccc;
}
.st19 {
  fill: url(#SVGID_9_);
}
.st20 {
  fill: #6f6f6f;
}
.st21 {
  fill: url(#SVGID_10_);
}
.st22 {
  fill: #666666;
}
.st23 {
  fill: url(#SVGID_11_);
}
.st24 {
  fill: url(#SVGID_12_);
}
.st25 {
  fill-opacity: 0.502;
}
.st26 {
  fill-opacity: 0.102;
}
.st27 {
  fill: #ff0000;
}
.st28 {
  fill: #750202;
}
.st29 {
  fill: #b80303;
}
.st30 {
  fill: url(#SVGID_13_);
}
.st31 {
  fill: #a70303;
}
.st32 {
  fill: url(#SVGID_14_);
}
.st33 {
  fill: url(#SVGID_15_);
}
.st34 {
  fill: url(#SVGID_16_);
}
.st35 {
  fill: url(#SVGID_17_);
}
.st36 {
  fill: url(#SVGID_18_);
}
.st37 {
  fill: url(#SVGID_19_);
}
.st38 {
  fill: #ffffff;
}
.st39 {
  fill: #d0d0d0;
}
.st40 {
  fill: url(#SVGID_20_);
}
.st41 {
  fill: none;
  stroke: #cccccc;
  stroke-width: 5e-2;
  stroke-miterlimit: 3;
}
.st42 {
  fill: none;
  stroke: #cccccc;
  stroke-width: 5e-2;
  stroke-linecap: square;
  stroke-miterlimit: 3;
}
.st43 {
  fill: none;
  stroke: #1e1e1e;
  stroke-width: 2;
  stroke-linecap: square;
  stroke-miterlimit: 3;
}
.st44 {
  fill: none;
  stroke: #770606;
  stroke-width: 0.1;
  stroke-linecap: square;
  stroke-miterlimit: 3;
  stroke-opacity: 0.4;
}
.st45 {
  fill: none;
  stroke: #770606;
  stroke-width: 0.1;
  stroke-linecap: square;
  stroke-miterlimit: 3;
}
.st46 {
  fill: none;
  stroke: #1e1e1e;
  stroke-width: 0.1;
  stroke-linecap: square;
  stroke-miterlimit: 3;
  stroke-opacity: 0.4;
}
.st47 {
  fill: none;
  stroke: #1e1e1e;
  stroke-width: 0.1;
  stroke-linecap: square;
  stroke-miterlimit: 3;
  stroke-opacity: 0.2;
}
.st48 {
  fill: url(#SVGID_21_);
}
.st49 {
  fill: url(#SVGID_22_);
}
.st50 {
  fill: url(#SVGID_23_);
}
.st51 {
  fill: url(#SVGID_24_);
}
.st52 {
  fill: url(#SVGID_25_);
}
.st53 {
  fill: url(#SVGID_26_);
}
.st54 {
  fill: url(#SVGID_27_);
}
.st55 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.1;
  stroke-miterlimit: 3;
  stroke-opacity: 0.3529;
}
.st56 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.1;
  stroke-miterlimit: 3;
  stroke-opacity: 0.2627;
}

/* Car Scrub and Pin End */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
